@using Newtonsoft.Json;
@model LinkedTracker.Models.RoomViewModel

<div id="app">
    <div>
        <span>{{ Room.RoomName }}</span>
    </div>
    <div>
        <input v-model="Room.Password"/>
    </div>
    <div>
        <button @@click="setPassword">Set Password</button>
    </div>
    <div>
        <label>Point of Interest Type</label>
        <select @@change="getPointsOfInterest" v-model="Room.PointOfInterestType">
            <option value="Randomizer">Randomizer</option>
        </select>
    </div>
    <game-map :points="PointsOfInterest" :img-src="imgSrc"></game-map>
</div>

<style>
    .map-wrapper {
        position: relative;
    }

    .map {
        width: 100%;
    }
</style>

@section Scripts
{
    <script>
        window.vm = @Html.Raw(JsonConvert.SerializeObject(Model));
    </script>
    
    <script src="~/dist/bundle.js" asp-append-version="true"></script>
}
