@{
    ViewData["Title"] = "Home Page";
}

<div id="app" class="text-center">
    <h3 class="display-4">Pick a game and room name!</h3>
    <div>
        <label>Game</label>
        <select v-model="game">
            <option v-for="game in games" :value="game.value">{{game.text}}</option>
        </select>
    </div>
    <div>
        <label>Room Name</label>
        <input v-model="roomName" />
    </div>
    <button @@click="createRoom">Create</button>
    <div>
        <a v-if="roomUrl != null" :href="roomUrl">Goto {{ roomUrl }}</a>
    </div>
</div>

@section Scripts
{
    <script src="~/js/home.js" asp-append-version="true"></script>
}